body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i.material-icons.Edit {
  color: #FF9800;
}

i.material-icons.Delete {
  color: red;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}
.error{
  color: #e70d18;
  background-color: #cce5ff;
  border-color: #b8daff;
  position: relative;
  padding: .75rem 1.25rem;
  margin: 1rem 2rem 0 2rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 35px;
    font-weight: bold;
    text-align: center;

}
.container {
  display: flex;
  margin: 10px;
}
.formAddEdit {
  width: 30%;
  margin: 10px;
}
.formList {
  width: 70%;
  margin: 10px;
}
table.table.table-striped.table-hover {
  width: 100%;
  border-collapse: collapse;
}
.form-group {
  margin-top: 15px;
}
input.form-control ,textarea {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 6px;
  padding: 10px 0px 10px 5px;
  margin-top: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #576887;
  font-weight: bold;
}
button.btn.btn-block.btn-info {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #1121e4;
  border-radius: 5px;
  background-color: #1828e8;
  color: white;
  padding: 10px;
  font-family: 'Varela Round', sans-serif;

}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th, table.table tr td {
  /*border-color: #e9e9e9;*/
  padding: 12px 15px;
  vertical-align: middle;
  text-align: left;
  border: 0px solid;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}	
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196F3;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {        
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}    
/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}	
.modal form label {
  font-weight: normal;
}	
